*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*Navbar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    max-width: 1920px;
}
ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-btn{
    color: white;
    background-color: #30B868;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight:bold;
}
/*hero-section*/
.hero-section{
    max-width: 1920px;
    margin: auto;
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 674px;
}
.hero-content .badge{
    margin-bottom: 20px;
}
.hero-content span{
    background-color:rgb(252, 249, 249);
    color: #30B868;
    border-radius: 200px;
    font-size: 15px;
    border: 2px solid white;
    padding: 3px 10px;
    border: none;
    font-weight: bold;
}
.hero-content{
    color: white;
    text-align: center;
    padding-top: 8em;
}
.first-h{
    font-size: 74px;
}
.second-h{
    font-size: 74px;
    color: #30B868;
    margin-bottom: 25px;
}
.hero-content p{
    color: rgb(195, 196, 196);
    font-size: 15px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.arrow-btn button{
    background-color: #26884f;
    color: white;
    font-size: 15px;
    padding: 15px 10px;
    border:none;
    font-weight: bold;
}
.arrow-btn{
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #26884f;
    padding: 0 10px;
}
.play-btn{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px 15px;
    gap:5px;
}
.play-btn button{
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;
}
.feature{
    background-color: #F9F9F9;
    padding: 60px 0;
}
.f-heading{
    text-align: center;
}
.f-heading h1{
    font-size: 48px;
}
.f-heading p{
    font-size: 15px;
    color: gray;
}
.feature-cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: white;
    padding-top: 50px;
    border-radius: 10px;
    height:300px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h2{
    margin:10px 0;
}
.card p{
    color: gray;
    margin-top: 10px;
}
.card img{
    background-color: tomato;
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}
.knowledge-section{
    padding-top:100px;
    padding-bottom: 50px;
    width: 1500px;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.knowledge-content span{
    color: #30B868;
    font-weight: bold;
}
.knowledge-content p{
    color: gray;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}
.knowledge-content h1{
    font-size: 4em;
    margin-top: 10px;
}
.list-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.knowledge-list p{
    color:black;
}
.second-last{
    text-align: center;
    padding: 80px 0;
}
.second-last-d{
    padding-top: 100px;
    width: 80%;
    height: 500px;
    background-color: #F7F6F2;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 6px;
}
.second-last-d h1{
    font-size: 50px;
    padding-top: 60px;
}
.second-last-d p{
    color: gray;
    font-size: 15px;
    margin-top: 20px;
}
.second-last-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 200px;
    background-color: #26884f;
    padding: 0 10px;
    margin: 20px auto;
    gap: 5px;
}

.second-last-btn button{
    background-color: #26884f;
    color: white;
    font-size: 15px;
    padding: 15px 10px;
    border:none;
    font-weight: bold;
}
.footer {
  background: linear-gradient(to bottom, #06233c, #031a2e);
  color: white;
  padding: 94px 165px;
  font-family: Arial, sans-serif;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer-main {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-footer{
  font-size: 30px;
}

.brand-text h2 {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #2dbb6a;
}

.brand-icon p {
  margin: 0;
  font-size: 12px;
  color: #b3c7d9;
}

.social {
  text-align: center;
}

.social p {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.12);
}

.footer-divider {
  margin: 50px 0 15px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-text {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}